<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
</head>
<body>
<h1>Добро пожаловать!</h1>
<div th:if="${#httpServletRequest.remoteUser != null}">
    <p>Вы вошли как: <span th:text="${#httpServletRequest.remoteUser}"></span></p>
    <a href="/requests/my-requests">Мои заявки</a><br/>
    <a href="/auth/current-user">Текущий пользователь</a><br/>
    <a href="/logout">Выйти</a>
</div>
<div th:if="${#httpServletRequest.remoteUser == null}">
    <a href="/login">Войти</a><br/>
    <a href="/auth/register">Регистрация</a>
</div>
</body>
</html>