<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заявка</title>
</head>
<body>
<div th:if="${request.status == 'NEW' or request.status == 'FIXED'}">
    <h1>Подтверждение/отклонение заявки</h1>
    <form action="/requests/update-status" method="post">
        <input type="hidden" name="id" th:value="${request.id}"/>
        <label for="comment">Комментарий:</label>
        <textarea id="comment" name="comment" required></textarea><br/>
        <button type="submit" name="action" value="reject">Есть замечания</button>
        <button type="submit" name="action" value="accept">Выполнить</button>
        <button type="button" onclick="window.history.back();">Отмена</button>
    </form>
</div>
<div th:if="${request.status != 'NEW' and request.status != 'FIXED'}">
    <h1>Статус заявки: <span th:text="${request.status}"></span></h1>
</div>
<a href="/requests/all-requests">Назад ко всем заявкам</a>
</body>
</html>