<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<form action="/auth/register" method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" required/><br/>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required/><br/>
    <label for="role">Роль:</label>
    <select id="role" name="role">
        <option value="CLIENT">Клиент</option>
        <option value="OPERATOR">Оператор</option>
    </select><br/>
    <button type="submit">Зарегистрироваться</button>
</form>
<a href="/">На главную</a>
</body>
</html>